main {
    height: 100vh;
}

img {
    filter: brightness(50%);
}

.icons {
    background-color: rgb(2, 2, 58);
}


@media (min-width: 576px) and (max-width: 767px){
    .icons {
        flex-flow: column wrap;
    }
}

